.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #eab515;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}


.bg-light {
    background-color: #3f51b5!important;
}