<p>user works!</p>
<header class="bg-warning text-center p-1 text-capitalize mb-4"><strong><h1>Tab by usnig *ngSwitchTab</h1></strong></header>

<ul class="nav nav-pills">
    <li 
    *ngFor="let array of skillsbox"
    (click)="onClick(array)"
    class="nav-items">

    <a 
    [ngClass]="{
        active : defaultskill.toLowerCase().includes(array.skillname)
    }"
    href="javascript:;" class="nav-link">
        {{array.skillname}}
    </a></li>
 </ul>

  <div class="tab-body" [ngSwitch]="defaultskill">
    <div class="card" *ngSwitchCase="'nodejs'">
        <div class="card-body">
            <strong>nodejs</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi sint ea totam ducimus voluptas? Quam inventore necessitatibus doloremque id modi consectetur. Reprehenderit, eos incidunt facilis natus perferendis quia quaerat voluptas!
        </div>
    </div>
    <div class="card" *ngSwitchCase="'express'">
        <div class="card-body">
            <strong>express</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi sint ea totam ducimus voluptas? Quam inventore necessitatibus doloremque id modi consectetur. Reprehenderit, eos incidunt facilis natus perferendis quia quaerat voluptas!
        </div>
    </div>
    <div class="card" *ngSwitchCase="'mysql'">
        <div class="card-body">
            <strong>mysql</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi sint ea totam ducimus voluptas? Quam inventore necessitatibus doloremque id modi consectetur. Reprehenderit, eos incidunt facilis natus perferendis quia quaerat voluptas!
        </div>
    </div>
    <div class="card" *ngSwitchCase="'springboot'">
        <div class="card-body">
            <strong>springboot</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi sint ea totam ducimus voluptas? Quam inventore necessitatibus doloremque id modi consectetur. Reprehenderit, eos incidunt facilis natus perferendis quia quaerat voluptas!
        </div>
    </div>
 </div>  



 